/* Variables */
body {
  font-family: 'Open Sans', sans-serif; }

#main {
  max-width: 100%;
  height: 608px;
  padding: 0 3em 2em 3em;
  margin: 0;
  background: url("../img/main.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  position: relative; }
  #main:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #020b16;
    opacity: .6;
    z-index: 0; }
  #main .wrapper {
    margin: 0;
    position: relative; }
    #main .wrapper header {
      height: 43px;
      color: #fff;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 0 30px; }
      #main .wrapper header a {
        margin: 0;
        padding-top: 27px;
        color: white;
        font-size: 1em;
        font-weight: bold;
        text-decoration: none;
        -webkit-transition: color .2s ease;
        -o-transition: color .2s ease;
        transition: color .2s ease; }
        #main .wrapper header a img {
          width: 6%;
          opacity: .7;
          -webkit-transition: opacity .2s ease, -webkit-transform .5s ease;
          transition: opacity .2s ease, -webkit-transform .5s ease;
          -o-transition: opacity .2s ease, transform .5s ease;
          transition: opacity .2s ease, transform .5s ease;
          transition: opacity .2s ease, transform .5s ease, -webkit-transform .5s ease; }
          #main .wrapper header a img:hover {
            opacity: 1;
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg); }
      #main .wrapper header ul {
        margin: 0;
        padding: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        padding-top: 15px; }
        #main .wrapper header ul li {
          list-style: none; }
          #main .wrapper header ul li a {
            padding: 0 30px;
            display: block;
            color: #dedede;
            font-size: .9em;
            font-weight: bold;
            text-decoration: none;
            line-height: 42px;
            -webkit-transition: color .2s ease;
            -o-transition: color .2s ease;
            transition: color .2s ease; }
            #main .wrapper header ul li a:hover {
              color: white; }
    #main .wrapper .home-content {
      text-align: center; }
      #main .wrapper .home-content h1 {
        margin-top: 4em;
        font-size: 3em;
        text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.47); }
      #main .wrapper .home-content p {
        margin-bottom: 8em;
        font-weight: bold;
        color: #b9b9b9;
        text-shadow: 3px 1px 4px rgba(0, 0, 0, 0.5); }
      #main .wrapper .home-content .primary-button {
        position: relative;
        margin-bottom: 3em;
        padding: .75em 3.4em;
        background: #287ff1;
        color: white;
        text-decoration: none;
        border-radius: 3.5px;
        -webkit-transition: background .2s ease-in-out, -webkit-box-shadow .3s ease-in-out;
        transition: background .2s ease-in-out, -webkit-box-shadow .3s ease-in-out;
        -o-transition: box-shadow .3s ease-in-out, background .2s ease-in-out;
        transition: box-shadow .3s ease-in-out, background .2s ease-in-out;
        transition: box-shadow .3s ease-in-out, background .2s ease-in-out, -webkit-box-shadow .3s ease-in-out;
        -webkit-box-shadow: -4px 10px 25px 5px rgba(0, 0, 0, 0.39);
        -moz-box-shadow: -4px 10px 25px 5px rgba(0, 0, 0, 0.39);
        box-shadow: -4px 10px 25px 5px rgba(0, 0, 0, 0.39); }
        #main .wrapper .home-content .primary-button:hover {
          background: #4c95f6;
          -webkit-box-shadow: -5px 8px 38px -4px rgba(0, 0, 0, 0.39);
          -moz-box-shadow: -5px 8px 38px -4px rgba(0, 0, 0, 0.39);
          box-shadow: -5px 8px 38px -4px rgba(0, 0, 0, 0.39); }
      #main .wrapper .home-content #scroll {
        margin-bottom: -3em;
        position: relative;
        top: 80px;
        text-decoration: none;
        color: white;
        font-size: .9em;
        opacity: .3;
        -webkit-transition: opacity .2s ease-in-out;
        -o-transition: opacity .2s ease-in-out;
        transition: opacity .2s ease-in-out; }
        #main .wrapper .home-content #scroll:hover {
          opacity: .6; }

#services {
  max-width: 100%;
  margin: 0;
  padding: 0 2em 2em 2em; }
  #services .wrapper {
    margin: 0;
    width: 100%; }
    #services .wrapper h2 {
      color: #2e2e2e;
      text-align: center;
      margin-top: 0;
      padding-top: 2em; }
    #services .wrapper #cards-container {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row wrap;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      padding: 1em; }
      #services .wrapper #cards-container .card {
        width: 350px;
        height: 440px;
        background: white;
        margin-top: 3em;
        border-radius: 3%;
        -webkit-box-shadow: 3px 3px 40px 0px rgba(46, 61, 73, 0.3);
        box-shadow: 3px 3px 40px 0px rgba(46, 61, 73, 0.3);
        -webkit-transition: -webkit-box-shadow .2s ease-in-out;
        transition: -webkit-box-shadow .2s ease-in-out;
        -o-transition: box-shadow .2s ease-in-out;
        transition: box-shadow .2s ease-in-out;
        transition: box-shadow .2s ease-in-out, -webkit-box-shadow .2s ease-in-out; }
        #services .wrapper #cards-container .card:hover {
          cursor: pointer;
          -webkit-box-shadow: 3px 3px 20px 0px rgba(46, 61, 73, 0.2);
          box-shadow: 3px 3px 20px 0px rgba(46, 61, 73, 0.2); }
        #services .wrapper #cards-container .card .card-img {
          overflow: hidden;
          width: 100%;
          height: 190px;
          margin: 0;
          padding: 0;
          border-top-right-radius: 3%;
          border-top-left-radius: 3%; }
          #services .wrapper #cards-container .card .card-img img {
            width: 100%;
            border-top-right-radius: 3%;
            border-top-left-radius: 3%;
            position: relative;
            bottom: 8px; }
        #services .wrapper #cards-container .card .card-content {
          width: 80%;
          padding: 1em; }
          #services .wrapper #cards-container .card .card-content h1 {
            color: #2e3d49;
            font-size: 1.4em;
            padding-top: .3em;
            padding-left: .6em;
            text-align: left; }
          #services .wrapper #cards-container .card .card-content p {
            color: #8e8e8e;
            font-size: .8em;
            margin-top: 7.6em;
            padding-top: .3em;
            padding-left: 1em; }
      #services .wrapper #cards-container .web-dev .card-img {
        background: #00f7ff;
        -webkit-filter: contrast(120%);
        filter: contrast(120%);
        -webkit-filter: brightness(110%);
        filter: brightness(110%); }
        #services .wrapper #cards-container .web-dev .card-img img {
          opacity: .5; }
      #services .wrapper #cards-container .web-des .card-img {
        background: #ff3434;
        -webkit-filter: brightness(115%);
        filter: brightness(115%); }
        #services .wrapper #cards-container .web-des .card-img img {
          opacity: .5; }
      #services .wrapper #cards-container .psd .card-img {
        background: #fff354;
        -webkit-filter: contrast(120%);
        filter: contrast(120%);
        -webkit-filter: brightness(120%);
        filter: brightness(120%); }
        #services .wrapper #cards-container .psd .card-img img {
          opacity: .5; }
      #services .wrapper #cards-container .res-des .card-img {
        background: #1f64ff;
        -webkit-filter: contrast(120%);
        filter: contrast(120%);
        -webkit-filter: brightness(150%);
        filter: brightness(150%); }
        #services .wrapper #cards-container .res-des .card-img img {
          opacity: .5; }
      #services .wrapper #cards-container .ui-ux .card-img {
        background: #00ff38;
        -webkit-filter: brightness(110%);
        filter: brightness(110%); }
        #services .wrapper #cards-container .ui-ux .card-img img {
          opacity: .5; }
      #services .wrapper #cards-container .e-com .card-img {
        background: #d377ff;
        -webkit-filter: contrast(140%);
        filter: contrast(140%);
        -webkit-filter: brightness(120%);
        filter: brightness(120%); }
        #services .wrapper #cards-container .e-com .card-img img {
          opacity: .4; }

.line-seperator {
  width: 85%;
  margin-top: 3em;
  margin-bottom: 3em;
  opacity: .3; }

#whatIdo {
  max-width: 100%;
  margin: 0;
  padding: 0 2em 2em 2em; }
  #whatIdo .wrapper {
    text-align: center; }
    #whatIdo .wrapper h2 {
      color: #2e2e2e; }
    #whatIdo .wrapper .logo-container {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 100%; }
      #whatIdo .wrapper .logo-container img {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        max-width: 5%;
        padding: 1em 3em; }
    #whatIdo .wrapper .line-seperator {
      width: 40%;
      margin-top: 0;
      opacity: .4; }
    #whatIdo .wrapper p {
      width: 80%;
      text-align: center;
      margin: 0 auto;
      padding: 2em;
      line-height: 1.4;
      font-size: 1.3em;
      color: #919191; }

#works {
  width: 100%; }
  #works .wrapper {
    padding-bottom: .5em;
    margin-bottom: 3.5em; }
    #works .wrapper h2 {
      color: #2e2e2e;
      text-align: center;
      margin-top: -.2em;
      margin-bottom: 3em; }
    #works .wrapper .workbox-container {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row wrap;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 1em; }
      #works .wrapper .workbox-container .workbox {
        width: 350px;
        height: 240px;
        margin-bottom: 2em; }
        #works .wrapper .workbox-container .workbox img {
          width: 100%;
          border-radius: 3.5px; }
        #works .wrapper .workbox-container .workbox .workbox-content {
          max-width: 100%;
          height: 236px;
          text-align: center;
          position: relative;
          border-radius: 3.5px;
          overflow: hidden;
          bottom: 237px;
          background: rgba(3, 14, 33, 0.9);
          color: white;
          opacity: 0;
          -webkit-transition: opacity .3s ease-in-out;
          -o-transition: opacity .3s ease-in-out;
          transition: opacity .3s ease-in-out; }
          #works .wrapper .workbox-container .workbox .workbox-content .primary-button {
            background: #287ff1;
            color: white;
            font-size: .9em;
            padding: .7em 1.8em;
            text-decoration: none;
            position: relative;
            top: 50px;
            margin: 1em;
            border-radius: 3.5px;
            -webkit-transition: background .2s ease-in-out, -webkit-box-shadow .3s ease-in-out;
            transition: background .2s ease-in-out, -webkit-box-shadow .3s ease-in-out;
            -o-transition: box-shadow .3s ease-in-out, background .2s ease-in-out;
            transition: box-shadow .3s ease-in-out, background .2s ease-in-out;
            transition: box-shadow .3s ease-in-out, background .2s ease-in-out, -webkit-box-shadow .3s ease-in-out;
            -webkit-box-shadow: -4px 10px 25px 5px rgba(0, 0, 0, 0.39);
            -moz-box-shadow: -4px 10px 25px 5px rgba(0, 0, 0, 0.39);
            box-shadow: -4px 10px 25px 5px rgba(0, 0, 0, 0.39); }
            #works .wrapper .workbox-container .workbox .workbox-content .primary-button:hover {
              background: #4c95f6;
              -webkit-box-shadow: -5px 8px 38px -4px rgba(0, 0, 0, 0.39);
              -moz-box-shadow: -5px 8px 38px -4px rgba(0, 0, 0, 0.39);
              box-shadow: -5px 8px 38px -4px rgba(0, 0, 0, 0.39); }
          #works .wrapper .workbox-container .workbox .workbox-content h3 {
            margin-top: 3em;
            text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5); }
          #works .wrapper .workbox-container .workbox .workbox-content p {
            width: 85%;
            margin: 0 auto;
            font-size: .8em;
            color: #c8c8c8; }
          #works .wrapper .workbox-container .workbox .workbox-content:hover {
            opacity: 1; }

#about {
  width: 100%;
  background: #2281fe; }
  #about .wrapper {
    padding: 1em;
    margin: 0; }
    #about .wrapper h2 {
      margin-top: 1em;
      padding-bottom: 1em;
      text-align: center;
      color: white; }
    #about .wrapper #about-box {
      max-width: 1150px;
      max-height: 100%;
      background: white;
      padding: 2em;
      margin: 0 auto;
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around; }
      #about .wrapper #about-box #me {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        max-width: 60%;
        margin: .5em;
        border: 1px solid red; }
        #about .wrapper #about-box #me #header {
          width: 100%;
          max-height: 35%;
          padding: .5em; }
          #about .wrapper #about-box #me #header img {
            width: 22%;
            border-radius: 100%; }
          #about .wrapper #about-box #me #header h1 {
            position: relative;
            bottom: 135px;
            left: 192px;
            font-weight: lighter;
            font-size: 1.8em;
            color: #3b9bff; }
          #about .wrapper #about-box #me #header p {
            position: relative;
            bottom: 145px;
            left: 192px;
            font-size: .9em;
            color: #74b8ff; }
      #about .wrapper #about-box #future {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        max-width: 40%;
        border: 1px orange solid; }

/* media queries */
@media only screen and (max-width: 600px) {
  header {
    height: 20px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  header a {
    -webkit-flex-basis: 85%;
    -ms-flex-preferred-size: 85%;
    flex-basis: 85%;
    text-align: center; }
  header nav {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%; }
  header nav ul {
    width: 85%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; } }
