/* Variables */
::-webkit-scrollbar {
  width: 10px;
  background: #18181b; }

::-webkit-scrollbar-thumb {
  background: #949494;
  border-radius: 50px;
  -webkit-box-shadow: 0px 0px 25px #2b2a2a;
  box-shadow: 0px 0px 25px #2b2a2a; }

html, body {
  max-width: 100%;
  overflow-x: hidden; }

body {
  font-family: 'Open Sans', sans-serif; }

#main {
  max-width: 100%;
  height: 608px;
  padding: 0 3em 2em 3em;
  margin: 0;
  background: url("../img/main.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  position: relative; }
  #main:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #020b16;
    opacity: .6;
    z-index: 0; }
  #main .wrapper {
    margin: 0;
    position: relative; }
    #main .wrapper header {
      height: 43px;
      color: #fff;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; }
      #main .wrapper header a {
        -webkit-transition: color .2s ease;
        -o-transition: color .2s ease;
        transition: color .2s ease; }
        #main .wrapper header a img {
          margin-top: 23px;
          margin-left: .5em;
          width: 35px;
          opacity: .6;
          -webkit-transition: opacity .2s ease, -webkit-transform .5s ease;
          transition: opacity .2s ease, -webkit-transform .5s ease;
          -o-transition: opacity .2s ease, transform .5s ease;
          transition: opacity .2s ease, transform .5s ease;
          transition: opacity .2s ease, transform .5s ease, -webkit-transform .5s ease; }
          #main .wrapper header a img:hover {
            opacity: 1;
            -webkit-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            transform: rotate(90deg); }
      #main .wrapper header ul {
        margin: 0;
        padding: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: end;
        -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
        justify-content: flex-end;
        padding-top: 15px; }
        #main .wrapper header ul li {
          list-style: none; }
          #main .wrapper header ul li a {
            padding: 0 30px;
            display: block;
            color: #cdcdcd;
            font-size: .9em;
            font-weight: bold;
            text-decoration: none;
            line-height: 42px;
            -webkit-transition: color .2s ease;
            -o-transition: color .2s ease;
            transition: color .2s ease; }
            #main .wrapper header ul li a:hover {
              color: white; }
    #main .wrapper .home-content {
      text-align: center; }
      #main .wrapper .home-content h1 {
        margin-top: 4em;
        font-size: 3em;
        text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.47); }
      #main .wrapper .home-content p {
        margin-bottom: 8em;
        font-weight: bold;
        color: #b9b9b9;
        text-shadow: 3px 1px 4px rgba(0, 0, 0, 0.5); }
      #main .wrapper .home-content .primary-button {
        position: relative;
        margin-bottom: 3em;
        padding: .75em 3.4em;
        background: #287ff1;
        color: white;
        text-decoration: none;
        border-radius: 3.5px;
        -webkit-transition: background .2s ease-in-out, -webkit-box-shadow .3s ease-in-out;
        transition: background .2s ease-in-out, -webkit-box-shadow .3s ease-in-out;
        -o-transition: box-shadow .3s ease-in-out, background .2s ease-in-out;
        transition: box-shadow .3s ease-in-out, background .2s ease-in-out;
        transition: box-shadow .3s ease-in-out, background .2s ease-in-out, -webkit-box-shadow .3s ease-in-out;
        -webkit-box-shadow: -4px 10px 25px 5px rgba(0, 0, 0, 0.39);
        -moz-box-shadow: -4px 10px 25px 5px rgba(0, 0, 0, 0.39);
        box-shadow: -4px 10px 25px 5px rgba(0, 0, 0, 0.39); }
        #main .wrapper .home-content .primary-button:hover {
          background: #4c95f6;
          -webkit-box-shadow: -5px 8px 38px -4px rgba(0, 0, 0, 0.39);
          -moz-box-shadow: -5px 8px 38px -4px rgba(0, 0, 0, 0.39);
          box-shadow: -5px 8px 38px -4px rgba(0, 0, 0, 0.39); }
      #main .wrapper .home-content #scroll {
        margin-bottom: -3em;
        position: relative;
        top: 80px;
        text-decoration: none;
        color: white;
        font-size: .9em;
        opacity: .3;
        -webkit-transition: opacity .2s ease-in-out;
        -o-transition: opacity .2s ease-in-out;
        transition: opacity .2s ease-in-out; }
        #main .wrapper .home-content #scroll:hover {
          opacity: .6; }
        #main .wrapper .home-content #scroll i {
          position: relative;
          top: 4px;
          font-size: 1.8em; }

#services {
  max-width: 100%;
  margin: 0;
  padding: 0 2em 2em 2em; }
  #services .wrapper {
    margin: 0;
    width: 100%; }
    #services .wrapper h2 {
      color: #2e2e2e;
      text-align: center;
      margin-top: 0;
      padding-top: 2em; }
    #services .wrapper #cards-container {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row wrap;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      padding: 1em; }
      #services .wrapper #cards-container .card {
        width: 350px;
        height: 440px;
        background: white;
        margin-top: 3em;
        border-radius: 3%;
        -webkit-box-shadow: 3px 3px 40px 0px rgba(46, 61, 73, 0.3);
        box-shadow: 3px 3px 40px 0px rgba(46, 61, 73, 0.3);
        -webkit-transition: -webkit-box-shadow .2s ease-in-out;
        transition: -webkit-box-shadow .2s ease-in-out;
        -o-transition: box-shadow .2s ease-in-out;
        transition: box-shadow .2s ease-in-out;
        transition: box-shadow .2s ease-in-out, -webkit-box-shadow .2s ease-in-out; }
        #services .wrapper #cards-container .card:hover {
          cursor: pointer;
          -webkit-box-shadow: 3px 3px 20px 0px rgba(46, 61, 73, 0.2);
          box-shadow: 3px 3px 20px 0px rgba(46, 61, 73, 0.2); }
        #services .wrapper #cards-container .card .card-img {
          overflow: hidden;
          width: 100%;
          height: 190px;
          margin: 0;
          padding: 0;
          border-top-right-radius: 3%;
          border-top-left-radius: 3%; }
          #services .wrapper #cards-container .card .card-img img {
            width: 100%;
            border-top-right-radius: 3%;
            border-top-left-radius: 3%;
            position: relative;
            bottom: 8px; }
        #services .wrapper #cards-container .card .card-content {
          width: 80%;
          padding: 1em; }
          #services .wrapper #cards-container .card .card-content h1 {
            color: #2e3d49;
            font-size: 1.4em;
            padding-top: .3em;
            padding-left: .6em;
            text-align: left; }
          #services .wrapper #cards-container .card .card-content p {
            color: #8e8e8e;
            font-size: .8em;
            margin-top: 7.6em;
            padding-top: .3em;
            padding-left: 1em; }
      #services .wrapper #cards-container .web-dev .card-img {
        background: #00f7ff;
        -webkit-filter: contrast(120%);
        filter: contrast(120%);
        -webkit-filter: brightness(110%);
        filter: brightness(110%); }
        #services .wrapper #cards-container .web-dev .card-img img {
          opacity: .5; }
      #services .wrapper #cards-container .web-des .card-img {
        background: #ff3434;
        -webkit-filter: brightness(115%);
        filter: brightness(115%); }
        #services .wrapper #cards-container .web-des .card-img img {
          opacity: .5; }
      #services .wrapper #cards-container .psd .card-img {
        background: #fff354;
        -webkit-filter: contrast(120%);
        filter: contrast(120%);
        -webkit-filter: brightness(120%);
        filter: brightness(120%); }
        #services .wrapper #cards-container .psd .card-img img {
          opacity: .5; }
      #services .wrapper #cards-container .res-des .card-img {
        background: #1f64ff;
        -webkit-filter: contrast(120%);
        filter: contrast(120%);
        -webkit-filter: brightness(150%);
        filter: brightness(150%); }
        #services .wrapper #cards-container .res-des .card-img img {
          opacity: .5; }
      #services .wrapper #cards-container .ui-ux .card-img {
        background: #00ff38;
        -webkit-filter: brightness(110%);
        filter: brightness(110%); }
        #services .wrapper #cards-container .ui-ux .card-img img {
          opacity: .5; }
      #services .wrapper #cards-container .e-com .card-img {
        background: #d377ff;
        -webkit-filter: contrast(140%);
        filter: contrast(140%);
        -webkit-filter: brightness(120%);
        filter: brightness(120%); }
        #services .wrapper #cards-container .e-com .card-img img {
          opacity: .4; }

.line-seperator {
  width: 85%;
  margin-top: 3em;
  margin-bottom: 3em;
  opacity: .3; }

#whatIdo {
  max-width: 100%;
  margin: 0;
  padding: 0 2em 2em 2em; }
  #whatIdo .wrapper {
    text-align: center; }
    #whatIdo .wrapper h2 {
      color: #2e2e2e; }
    #whatIdo .wrapper .logo-container {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 100%; }
      #whatIdo .wrapper .logo-container img {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        max-width: 55px;
        padding: 1em 3em; }
    #whatIdo .wrapper .line-seperator {
      width: 40%;
      margin-top: 0;
      opacity: .4; }
    #whatIdo .wrapper p {
      width: 80%;
      text-align: center;
      margin: 0 auto;
      padding: 2em;
      line-height: 1.4;
      font-size: 1.3em;
      color: #919191; }

#works {
  width: 100%; }
  #works .wrapper {
    padding-bottom: .5em;
    margin-bottom: 3.5em; }
    #works .wrapper h2 {
      color: #2e2e2e;
      text-align: center;
      margin-top: -.2em;
      margin-bottom: 3em; }
    #works .wrapper .workbox-container {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-flow: row wrap;
      -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      padding: 1em; }
      #works .wrapper .workbox-container .workbox {
        width: 350px;
        height: 240px;
        margin-bottom: 2em; }
        #works .wrapper .workbox-container .workbox img {
          width: 100%;
          border-radius: 3.5px; }
        #works .wrapper .workbox-container .workbox .workbox-content {
          max-width: 100%;
          height: 236px;
          text-align: center;
          position: relative;
          border-radius: 3.5px;
          overflow: hidden;
          bottom: 237px;
          background: rgba(3, 14, 33, 0.9);
          color: white;
          opacity: 0;
          -webkit-transition: opacity .3s ease-in-out;
          -o-transition: opacity .3s ease-in-out;
          transition: opacity .3s ease-in-out; }
          #works .wrapper .workbox-container .workbox .workbox-content .primary-button {
            background: #287ff1;
            color: white;
            font-size: .9em;
            padding: .7em 1.8em;
            text-decoration: none;
            position: relative;
            top: 50px;
            margin: 1em;
            border-radius: 3.5px;
            -webkit-transition: background .2s ease-in-out, -webkit-box-shadow .3s ease-in-out;
            transition: background .2s ease-in-out, -webkit-box-shadow .3s ease-in-out;
            -o-transition: box-shadow .3s ease-in-out, background .2s ease-in-out;
            transition: box-shadow .3s ease-in-out, background .2s ease-in-out;
            transition: box-shadow .3s ease-in-out, background .2s ease-in-out, -webkit-box-shadow .3s ease-in-out;
            -webkit-box-shadow: -4px 10px 25px 5px rgba(0, 0, 0, 0.39);
            -moz-box-shadow: -4px 10px 25px 5px rgba(0, 0, 0, 0.39);
            box-shadow: -4px 10px 25px 5px rgba(0, 0, 0, 0.39); }
            #works .wrapper .workbox-container .workbox .workbox-content .primary-button:hover {
              background: #4c95f6;
              -webkit-box-shadow: -5px 8px 38px -4px rgba(0, 0, 0, 0.39);
              -moz-box-shadow: -5px 8px 38px -4px rgba(0, 0, 0, 0.39);
              box-shadow: -5px 8px 38px -4px rgba(0, 0, 0, 0.39); }
          #works .wrapper .workbox-container .workbox .workbox-content h3 {
            margin-top: 3em;
            text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.5); }
          #works .wrapper .workbox-container .workbox .workbox-content p {
            width: 85%;
            margin: 0 auto;
            font-size: .8em;
            color: #c8c8c8; }
          #works .wrapper .workbox-container .workbox .workbox-content:hover {
            opacity: 1; }

#about {
  width: 100%;
  padding: .5em 0 4.5em 0;
  background: #3a8efc; }
  #about .wrapper {
    padding: 1em;
    margin: 0; }
    #about .wrapper h2 {
      margin-top: 1em;
      padding-bottom: 1em;
      text-align: center;
      color: white; }
    #about .wrapper #about-box {
      max-width: 90%;
      max-height: 100%;
      background: white;
      border-radius: 10px;
      margin: 0 auto;
      overflow: hidden;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      padding: 2em;
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -moz-box-shadow: 0 20px 50px -1px rgba(0, 0, 0, 0.47);
      -webkit-box-shadow: 0 20px 50px -1px rgba(0, 0, 0, 0.47);
      box-shadow: 0 20px 50px -1px rgba(0, 0, 0, 0.47); }
      #about .wrapper #about-box #me {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        height: 90%;
        padding: .3em 2em; }
        #about .wrapper #about-box #me #header-me {
          width: 100%;
          height: 100%;
          padding: .5em .5em 5em;
          display: -webkit-box;
          display: -webkit-flex;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
          justify-content: space-between; }
          #about .wrapper #about-box #me #header-me img {
            width: 8em;
            height: 50%;
            border-radius: 100%; }
          #about .wrapper #about-box #me #header-me .profile-info {
            width: 60%;
            margin-right: 3.5em;
            padding: 0 1em; }
            #about .wrapper #about-box #me #header-me .profile-info h1 {
              margin: 1em 0;
              font-weight: lighter;
              font-size: 1.8em;
              color: #3b9bff; }
            #about .wrapper #about-box #me #header-me .profile-info p {
              margin-top: -2em;
              font-size: .8em;
              color: #9cc4fb; }
        #about .wrapper #about-box #me p {
          width: 95%;
          line-height: 1.3;
          font-size: .92em;
          color: #919191; }
      #about .wrapper #about-box #second {
        -webkit-box-flex: 1;
        -webkit-flex: 1;
        -ms-flex: 1;
        flex: 1;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between; }
        #about .wrapper #about-box #second #tools {
          -webkit-box-flex: 1;
          -webkit-flex: 1;
          -ms-flex: 1;
          flex: 1;
          height: 45%;
          padding: 0; }
          #about .wrapper #about-box #second #tools img {
            width: 5em; }
          #about .wrapper #about-box #second #tools h1 {
            margin-bottom: 1.5em;
            font-size: 1.5em;
            color: #3b9bff; }
          #about .wrapper #about-box #second #tools p {
            color: #9cc4fb;
            font-size: .8em; }
          #about .wrapper #about-box #second #tools .tools-container {
            display: -webkit-box;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            -webkit-flex-wrap: wrap;
            -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
            #about .wrapper #about-box #second #tools .tools-container a {
              text-decoration: none;
              color: #61b8ff;
              font-size: .9em;
              border: 1px solid #61b8ff;
              padding: .4em .7em;
              margin: .1em;
              border-radius: 4px;
              letter-spacing: 1px;
              -webkit-transition: all .1s ease;
              -o-transition: all .1s ease;
              transition: all .1s ease; }
              #about .wrapper #about-box #second #tools .tools-container a:hover {
                color: #328cd5;
                border: 1px solid #328cd5; }
        #about .wrapper #about-box #second #future {
          height: 45%;
          padding: 1em .5em;
          margin-top: 2em; }
          #about .wrapper #about-box #second #future #header-future {
            width: 100%; }
            #about .wrapper #about-box #second #future #header-future img {
              width: 5em; }
            #about .wrapper #about-box #second #future #header-future h1 {
              margin-bottom: 1.5em;
              font-size: 1.5em;
              color: #3b9bff; }
          #about .wrapper #about-box #second #future p {
            width: 95%;
            line-height: 1.3;
            font-size: .92em;
            color: #919191; }

#contact {
  width: 100%;
  height: 500px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  background: url("../img/workspace.jpg");
  background-size: cover;
  background-position: center; }
  #contact:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #46acff;
    opacity: .7;
    z-index: 0; }
  #contact .wrapper {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: auto;
    color: white;
    text-align: center;
    z-index: 44334; }
    #contact .wrapper h1 {
      margin-top: 0;
      padding: 0 2em;
      font-size: 3em;
      font-weight: normal;
      text-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2); }
    #contact .wrapper p {
      padding: .5em;
      font-size: 1.1em;
      color: #eeeeee; }
    #contact .wrapper .primary-button {
      background: #287ff1;
      color: white;
      font-size: 1em;
      padding: .9em 3.6em;
      text-decoration: none;
      position: relative;
      top: 70px;
      margin: 1em;
      border-radius: 3.5px;
      -webkit-transition: background .2s ease-in-out, -webkit-box-shadow .3s ease-in-out;
      transition: background .2s ease-in-out, -webkit-box-shadow .3s ease-in-out;
      -o-transition: box-shadow .3s ease-in-out, background .2s ease-in-out;
      transition: box-shadow .3s ease-in-out, background .2s ease-in-out;
      transition: box-shadow .3s ease-in-out, background .2s ease-in-out, -webkit-box-shadow .3s ease-in-out;
      -webkit-box-shadow: -4px 10px 25px 5px rgba(0, 0, 0, 0.3);
      -moz-box-shadow: -4px 10px 25px 5px rgba(0, 0, 0, 0.3);
      box-shadow: -4px 10px 25px 5px rgba(0, 0, 0, 0.3); }
      #contact .wrapper .primary-button:hover {
        background: #4c95f6;
        -webkit-box-shadow: -5px 8px 38px -4px rgba(0, 0, 0, 0.39);
        -moz-box-shadow: -5px 8px 38px -4px rgba(0, 0, 0, 0.39);
        box-shadow: -5px 8px 38px -4px rgba(0, 0, 0, 0.39); }

footer {
  width: 100%;
  height: 100%;
  background: #18212a; }
  footer .wrapper {
    padding: 4em 0;
    text-align: center; }
    footer .wrapper img {
      width: 27px;
      opacity: .7; }
    footer .wrapper .line-seperator {
      width: 20%;
      margin: 2em auto .5em;
      padding: 0;
      opacity: .1; }
    footer .wrapper .social {
      padding: .4em; }
      footer .wrapper .social i {
        font-size: 1.3em;
        color: #7a7a7a;
        padding: .5em .3em;
        -webkit-transition: color .2s ease-in-out;
        -o-transition: color .2s ease-in-out;
        transition: color .2s ease-in-out; }
        footer .wrapper .social i:hover {
          color: #c6c6c6; }
    footer .wrapper p {
      color: #656565;
      font-size: .8em; }
      footer .wrapper p i {
        color: #e62626; }

/* ------------------------------------------------
   --------------- media queries ------------------
   ------------------------------------------------ */
@media only screen and (max-width: 1000px) {
  body {
    background: red; } }

@media only screen and (max-width: 950px) {
  body {
    background: green; }
  #main .wrapper .home-content #scroll {
    top: 40px; }
  #contact .wrapper h1 {
    font-size: 2.6em; }
  #contact .wrapper p {
    font-size: 1em; } }

@media only screen and (max-width: 830px) {
  body {
    background: yellow; }
  #services .wrapper #cards-container {
    padding: .2em; }
    #services .wrapper #cards-container .card {
      width: 300px;
      height: 390px;
      margin-top: 3em; }
      #services .wrapper #cards-container .card .card-img {
        overflow: hidden;
        width: 100%;
        height: 160px;
        margin: 0;
        padding: 0; }
      #services .wrapper #cards-container .card .card-content {
        width: 80%;
        padding: 1em; }
        #services .wrapper #cards-container .card .card-content h1 {
          font-size: 1.3em; }
        #services .wrapper #cards-container .card .card-content p {
          color: #8e8e8e;
          margin-top: 5em; }
  #whatIdo {
    padding: 0; }
    #whatIdo .wrapper {
      padding: 0; }
      #whatIdo .wrapper .line-seperator {
        margin: 0 auto; }
      #whatIdo .wrapper p {
        font-size: 1.2em; }
  #works .wrapper {
    margin-bottom: .3em; }
    #works .wrapper h2 {
      margin-bottom: 1.2em; } }

@media only screen and (max-width: 750px) {
  body {
    background: gray; }
  #whatIdo .wrapper .logo-container img {
    padding: 0 3em; }
  #whatIdo .wrapper p {
    padding-bottom: 0; } }

@media only screen and (max-width: 600px) {
  body {
    background: pink; }
  header {
    height: 20px;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
  header a {
    -webkit-flex-basis: 85%;
    -ms-flex-preferred-size: 85%;
    flex-basis: 85%;
    text-align: center; }
  header nav {
    -webkit-flex-basis: 75%;
    -ms-flex-preferred-size: 75%;
    flex-basis: 75%; }
  header nav ul {
    width: 85%;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; } }
